td {
  text-align: center;
}

body {
  font-family: sans-serif;
}

table {
  background-color: #fff;
}


.code {
  background-color: #fff;
}

.full-screen {
  width: 100%;
}

.left {
  width: 20%;
  padding: 20px;
  float: left;
  background-color: #fff;
  text-align: center;
}

.middle {
  width: 50%;
  padding: 20px;
  float: left;
  background-color: #eee
}
